body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#achievements {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
}

#achievementScroller {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

.scroller-item {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.scroller-item img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

#boxes {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    flex-wrap: wrap;
}

.box {
    flex: 1 0 45%;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.big-box {
    flex-basis: 70%;
}

.small-box {
    flex-basis: 30%;
}

#calendar {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
